// The old Ubuntu style :)
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');
// $title-font: 'Ubuntu Mono', monospace;
// $body-font: 'Ubuntu', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto&display=swap);

$title-font: 'Lora', serif;
$body-font: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

h3, h4, h5, h6 {
    font-size: 16px;
}

h1 {
    font-size: 32px;
    display: inline-block;
    border-bottom: 1px solid hsla(0, 0, 90, 100);
}

h3 {
    font-size: 22px;
    a {
        color: #4078c0;
    }
    span {
        color: #bbb;
    }
}

h4 {
    margin-top: $xs;
}



h6 {
    color: hsla(0, 0, 20, 100);
}

p {
    margin-top: $small;
    line-height: 1.6;
}

p, a {
    font-family: $body-font;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active {
    text-decoration: "underline",
}

blockquote {
    border-left: 4px solid hsla(0, 0, 90, 100);
    color: hsla(0, 0, 40, 100);
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
}