@import '_reset.scss';
@import '_colors.scss';
@import '_sizes.scss';
@import '_typography.scss';
@import 'blog.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

// removes a highlighting problem on iPhones and Chrome
*:focus {
    outline-style: none;
}

$scrollbar-width: calc(100vw - 100%);

body {
    padding-left: $scrollbar-width;
}

.site-wrapper {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
    background-color: #ffffff;
    @media (max-width: 400px) {
        max-width: 375px;
    }
}

.content-wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 750px;
    padding: 50px 25px 0px 25px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding-left: calc(
        (0px)
        -
        (100vw - 100%)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    a {
        display: flex;
    }
    .fa-icon {
        color: #195B8A;
        transition: .3s;
        &:not(.first) {
            margin-left: 32px;
        }
        &:hover {
            color: #cb4b16;
        }
    }
}


.header-and-nav-wrapper {
    margin-bottom: $xxxl;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
        display: inline-block;
        font-style: normal;
    }

    .nav {
        & > * {
            margin-left: $xl;
        }

        @media (max-width: 675px) {
            display: none;
        }
    }
}

.burger-menu-wrapper {
    @media (min-width: 675px) {
        display: none;
    }
}

.article-card {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        display: flex;
        min-width: 125px;
        flex-direction: column;
        @media (max-width: 600px) {
            align-items: center;
        }
    }
    @media (max-width: 600px) {
        flex-direction: column;
        .date-span {
            margin-top: $xxs;
        }
    }
}

.special-note-medium-blog {
    color: $grey-5;
    .special-fa-icon {
        position: relative;
        top: 3px;
    }
}

.blog-preview-pic {
    max-width: 250px;
    margin-left: $small;
    margin-right: $small;
    @media (max-width: 600px) {
        max-width: 150px;
        margin-top: $xs;
        margin-bottom: $xxs;
    }
}

.blog-preview {
    margin-top: $xl;
}

.post-excerpt {
    color: $grey-2;
    margin-top: 0;
    font-size: $font-small;
}

.resume {
    border: 1px solid hsla(0, 0%, 90%, 1);
    margin-top: $xl;
    display: flex;
    justify-content: center;
    @media (max-width: 675px) {
        display: none;
    }
}

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    flex: 0 1 48%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 12px 16px;
    margin-bottom: $large;
    border-radius: 5px;
    .project-header{
        flex: auto;
        margin-bottom: $small;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project-icons {
            display: flex;
            align-items: center;
            color: $grey-1;
        }
        .icon {
            margin-left: $xs;
        }
        .external-icon {
            font-size: 22px;
        }
        .github-icon {
            font-size: 32px;
        }
        .window-icon {
            font-size: 22px;
        }
        .youtube-icon {
            font-size: 23px;
        }
        @media (max-width: 350px) {
            flex-direction: column;
        }
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    h2 {
        font-size: $font-large;
        @media (max-width: 400px) {
            text-align: center;
        }
        @media (max-width: 600px) {
            min-width: 0;
            flex: auto;
        }
    }
    p {
        font-size: $font-small;
        margin-top: $small;
        &.special-note {
            font-size: 8px;
            color: $grey-6;
            margin-top: 0px;
        }
    }
    img {
        max-height: 175px;
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .portrait {
        display:block;
        margin: 0 auto;
    }

    @media (max-width: 600px) {
        min-width: 0;
        flex: auto;
    }
}

a[aria-current="page"] {
    &:not(.dont-underline) {
        text-decoration: underline;
        text-decoration-color: #195b8a50;
    }
}