@import '_reset.scss';
@import '_colors.scss';
@import '_sizes.scss';
@import '_typography.scss';

body {
    padding-left: calc(100vw - 100%);
    background-color: #073642;
}

.site-wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px;
    padding-top: 40px;
    background-color: #ffffff;
}

.header-and-nav-wrapper {
    margin-bottom: $xxxxl;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: inline-block;
    font-style: normal;
}

.nav > * {
    margin-left: $xl;
}

// ol, ul {
//     margin-left: 0px;
// }

// li>ol, li>ul {
//     margin-left: 0px
// }

.blog-preview {
    margin-top: $xl;
}

.post-excerpt {
    color: $grey-2;
}

.resume {
    border: 1px solid hsla(0, 0, 90, 100);
    margin-top: $xl;
}


.project-card {
    max-width: 650px;
    img {
        max-width: 500px;
    }
    iframe {
        max-width: 650px;
    }
}