@import '_reset.scss';
@import '_colors.scss';
@import '_sizes.scss';
@import '_typography.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-left: calc(100vw - 100%);
    background-color: hsla(46,42,88, .3);
}

.site-wrapper {
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
    padding: 50px;
    background-color: #ffffff;
}

.header-and-nav-wrapper {
    margin-bottom: $xxxxl;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: inline-block;
    font-style: normal;
}

.nav > * {
    margin-left: $xl;
}

// ol, ul {
//     margin-left: 0px;
// }

// li>ol, li>ul {
//     margin-left: 0px
// }

.blog-preview {
    margin-top: $xl;
}

.post-excerpt {
    color: $grey-2;
}

.resume {
    border: 1px solid hsla(0, 0, 90, 100);
    margin-top: $xl;
    display: flex;
    justify-content: center;
}

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    flex: 0 1 48%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 16px;
    margin-bottom: $large;
    border-radius: 5px;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    h2 {
        text-align: center;
        font-size: $font-large;
        margin-top: $xs;
    }
    p {
        font-size: $font-small;
    }
    // max-width: 650px;
    img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }
    iframe {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }
}