// <Container>
// <h1>About CSS Modules</h1>
// <p>CSS Modules are cool</p>
// <User
//   username="Jane Doe"
//   avatar="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg"
//   excerpt="I'm Jane Doe. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
// />


.user {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
.user:last-child {
    margin-bottom: 0;
}
  
.avatar {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
}
  
.description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
}
  
.username {
    margin: 0 0 12px 0;
    padding: 0;
}
  
.excerpt {
    margin: 0;
}
  